@model DnD.Models.AdventureViewModels.AdventureViewModel

<form asp-action="@ViewContext.RouteData.Values["action"]" class="ui form summary">
    @await Html.PartialAsync("_FormErrorSummary")
    <input asp-for="Id" />
    <div class="field">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <div class="ui pointing red basic label error-label">
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="field">
        <label asp-for="Date"></label>
        <div class="ui calendar create-default">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input asp-for="Date" />
            </div>
        </div>
        <div class="ui pointing red basic label error-label">
            <span asp-validation-for="Date"></span>
        </div>
    </div>
    <div class="field">
        <label asp-for="DungeonMasterId"></label>
        <select asp-for="DungeonMasterId" asp-items="ViewBag.DungeonMasters" class="ui selection search dropdown create-default"></select>
    </div>
    <div class="field">
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
        <div class="ui pointing red basic label error-label">
            <span asp-validation-for="Description"></span>
        </div>
    </div>
    @* Only show those two fields if there are other adventures *@
    @if (ViewBag.Previous.GetEnumerator().MoveNext())
    {
        <div class="field">
            <label>
                @Html.DisplayNameFor(a => a.PreviousId)
                <a class="ui tiny red label dropdown-reset" data-tooltip="clear drop down"><i class="remove icon"></i>clear</a>
            </label>
            <select asp-for="PreviousId" asp-items="ViewBag.Previous" class="ui selection search dropdown create-default">
                <option value=""></option>
            </select>
        </div>
        <div class="field">
            <label>
                @Html.DisplayNameFor(a => a.NextId)
                <a class="ui tiny red label dropdown-reset" data-tooltip="clear drop down"><i class="remove icon"></i>clear</a>
            </label>
            <select asp-for="NextId" asp-items="ViewBag.Next" class="ui selection search dropdown create-default">
                <option value=""></option>
            </select>
        </div>
    }
    <button type="submit" class="ui green button"><i class="@ViewData["Icon"] icon"></i>@ViewData["Button"] </button>
    @if (Model != null && Model.Id.HasValue)
    {
        <a asp-action="Details" asp-route-id="@Model.Id" class="ui blue button"><i class="map icon"></i>Adventure Details</a>
    }
</form>

<p><a asp-action="Index">Back to List</a></p>
