@model DnD.Models.CharacterViewModels.CharacterViewModel

<form asp-action="@ViewContext.RouteData.Values["action"]" class="ui form summary">
    @await Html.PartialAsync("_FormErrorSummary")
    <input asp-for="Id" />
    <div class="field">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <div class="ui pointing red basic label error-label">
            <span asp-validation-for="Name" />
        </div>
    </div>
    <div class="field">
        <label asp-for="Gender"></label>
        <div class="ui search selection dropdown allow-add">
            <input asp-for="Gender" />
            <i class="dropdown icon"></i>
            <div class="default text">Select a gender</div>
            <div class="menu">
                <div class="item" data-value="Male"><i class="@Html.GenderIcon("male") icon"></i> Male</div>
                <div class="item" data-value="Female"><i class="@Html.GenderIcon("female") icon"></i> Female</div>
                <div class="item" data-value="Agender"><i class="@Html.GenderIcon("agender") icon"></i> Agender</div>
                <div class="item" data-value="Other"><i class="@Html.GenderIcon("other") icon"></i> Other</div>
            </div>
        </div>
        <div class="ui pointing red basic label error-label">
            <span asp-validation-for="Gender" />
        </div>
    </div>
    <div class="field">
        <label asp-for="RaceId">Race (<a asp-action="Index" asp-controller="Info" @*Href is set by tag helpers*@ target="_blank"><i class="external icon"></i>Info</a>)</label>
        <select asp-for="RaceId" asp-items="ViewBag.RaceItems" class="ui selection dropdown create-default"></select>
    </div>
    <button type="submit" class="ui green button"><i class="@ViewData["Icon"] icon"></i>@ViewData["Button"] </button>
    @if (Model != null && Model.Id.HasValue)
    {
        <a asp-action="Details" asp-route-id="@Model.Id" class="ui blue button"><i class="@Html.CharacterIcon() icon"></i>Character Details</a>
    }
</form>

<p><a asp-action="Index">Back to List</a></p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
