@model DnD.Models.Character

@{
    ViewData["Title"] = "Character Details";
}

<div class="ui raised segments">
    <div class="ui segment">
        <span class="ui green ribbon label"><i class="info icon"></i> Info</span>
        <p></p>
        <div class="ui large horizontal divided list">
            <div class="item">
                <div class="content" data-tooltip="Name of this character"><h2>@Html.DisplayFor(model => model.Name)</h2></div>
            </div>
            <div class="item">
                <div class="header">@Html.DisplayNameFor(model => model.Owner)</div>
                <div class="content">@Html.DisplayFor(model => model.Owner.DisplayName)</div>
            </div>
            <div class="item">
                <div class="header">@Html.DisplayNameFor(model => model.Race)</div>
                <div class="content">@Html.DisplayFor(model => model.Race.Name)</div>
            </div>
            <div class="item">
                <div class="header">@Html.DisplayNameFor(model => model.Gender)</div>
                <div class="content">@Html.DisplayFor(model => model.Gender) <i class="@Html.GenderIcon(Model.Gender) icon"></i></div>
            </div>
            <div class="item">
                <div class="header">@Html.DisplayNameFor(model => model.Gold)</div>
                <div class="content"><i class="yellow cubes icon"></i> @Model.Gold.Sum(g => g.Value)</div>
            </div>
            <div class="item">
                <div class="header">@Html.DisplayNameFor(model => model.Experience)</div>
                <div class="content"><i class="purple lab icon"></i> @Model.Experience.Sum(g => g.Value)</div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="ui green button"><i class="write icon"></i>Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="ui red button"><i class="delete icon"></i>Delete</a>
    </div>
</div>

<div><a asp-action="Index">Back to List</a></div>
